.roundedImage {
    border-radius: 10px !important;
    box-shadow: 2px 5px 25px 2px gray;
}
.techService {
    font-style: italic;
    font-family:  "Poppins",sans-serif!important;
    font-size: 24px;
    /* font-weight:400; */
}
.projectName{
    font-size: 31px !important;
}
.cursor{
    pointer-events: none;
}
.liveSiteIcon{
    font-size: 50px !important;
    
}
